<div id="<%= dom_id invoice %>">
  <p>
    <strong>User:</strong>
    <%= invoice.user_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= invoice.student_id %>
  </p>

  <p>
    <strong>Meeting date 1:</strong>
    <%= invoice.meeting_date_1 %>
  </p>

  <p>
    <strong>Meeting date 2:</strong>
    <%= invoice.meeting_date_2 %>
  </p>

  <p>
    <strong>Meeting date 3:</strong>
    <%= invoice.meeting_date_3 %>
  </p>

  <p>
    <strong>Meeting date 4:</strong>
    <%= invoice.meeting_date_4 %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= invoice.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invoice.status %>
  </p>

</div>
