<div id="<%= dom_id bookkeeping %>">
  <p>
    <strong>Date:</strong>
    <%= bookkeeping.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= bookkeeping.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= bookkeeping.status %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= bookkeeping.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bookkeeping.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bookkeeping.user_id %>
  </p>

</div>
